@import url(normalize.css);
@import url(layout.css);
/* Typography */
@import "http://fonts.fontstorage.com/import/roboto.css";
@import "http://fonts.fontstorage.com/import/raleway.css";
@import "http://fonts.fontstorage.com/import/opensans.css";
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  -webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  -moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
  transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in; }

/*
	Roboto, 900, 100 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 700, 700 italic, 900, 900 italic
*/
/*
	Raleway, 100, 100 italic, 200, 200 italic, 300, 300 italic, 400, 400 italic, 500, 500 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic, 900, 900 italic
*/
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/
body {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 90px;
  color: #666666;
  font-family: Raleway, sans-serif;
  font-size: 14px; }

.ba-header {
  text-align: center;
  width: 455px;
  position: relative;
  margin: 0 auto 48px;
  padding-bottom: 46px; }
  .ba-header:before, .ba-header:after {
    display: block;
    content: "";
    position: absolute;
    background-color: #ffcc00;
    width: 47%;
    height: 1px;
    bottom: 0; }
  .ba-header:after {
    right: 0; }
  .ba-header__title {
    text-transform: uppercase;
    margin: 0; }
    .ba-header__title--small {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #898f8f; }
    .ba-header__title--big {
      color: #ffcc00;
      font-family: Roboto, sans-serif;
      font-size: 60px;
      font-weight: 900;
      line-height: 66px; }
  .ba-header__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%); }

.ba-main {
  max-width: 1170px;
  margin: 0 auto;
  position: relative; }

.ba-box {
  max-width: 1005px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.ba-column {
  padding: 75px 0 67px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 560px;
  max-width: 420px; }
  .ba-column--delimiter {
    padding-left: 82px;
    padding-right: 82px; }
    .ba-column--delimiter div {
      width: 1px;
      height: 100%;
      background-color: #ffcc00; }

.ba-photo__bg-img {
  background: url("../assets/frame_orange.svg") 50% no-repeat;
  padding: 15px;
  height: 420px; }
  .ba-photo__bg-img img {
    border: 1px solid #ffcc00;
    max-width: 388px; }

.ba-info {
  text-align: center; }
  .ba-info__title {
    margin: 0; }
    .ba-info__title--name {
      font-family: Roboto, sans-serif;
      font-size: 36px;
      font-weight: 900;
      margin-top: 15px; }
    .ba-info__title--position {
      font-size: 24px;
      font-weight: 400; }
  .ba-info__underline {
    background-color: #ffcc00; }
    .ba-info__underline--1 {
      width: 100px;
      height: 1px;
      background-color: #ffcc00;
      margin: 25px auto; }
    .ba-info__underline--2 {
      background: url("../assets/dashed-line.svg") 50% no-repeat;
      margin: 22px 0 26px;
      height: 4px; }
  .ba-info__social-links {
    margin: 30px auto 20px; }
    .ba-info__social-links ul {
      font-size: 0;
      list-style: none;
      padding-left: 0; }
      .ba-info__social-links ul li {
        display: inline-block;
        margin: 3px; }
        .ba-info__social-links ul li a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 2px solid #cccccc;
          border-radius: 50%; }
          .ba-info__social-links ul li a:hover {
            box-shadow: 0 0 5px #ffcc00; }
  .ba-info__description {
    color: #333333;
    font-weight: 500;
    line-height: 24px; }
  .ba-info__view-profile {
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 24px;
    border: 1px solid #ffcc00;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #666666; }
    .ba-info__view-profile:hover {
      background: #ffcc00; }

.ba-nav__arrow {
  width: 13px;
  height: 23px;
  position: absolute;
  top: 270px;
  padding: 10px; }
  .ba-nav__arrow:hover {
    transform: scale(1.4); }
  .ba-nav__arrow-left {
    background: url("../assets/angle-left-icon.png") no-repeat;
    left: 0; }
  .ba-nav__arrow-right {
    background: url("../assets/angle-right-icon.png") no-repeat;
    right: 0; }

.ba-nav__items {
  margin-top: 40px; }
  .ba-nav__items ul {
    text-align: center;
    padding-left: 0;
    list-style: none;
    font-size: 0; }
    .ba-nav__items ul .ba-item {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #ffcc00;
      border: 1px solid #ffcc00;
      border-radius: 50%;
      margin: 5px; }
      .ba-nav__items ul .ba-item--active {
        background-color: #fff; }
      .ba-nav__items ul .ba-item:hover {
        background-color: #fff;
        cursor: pointer;
        transform: scale(1.2); }

@media all and (max-width: 1020px) {
  .ba-column--delimiter {
    padding-right: 65px;
    padding-left: 65px; } }

@media all and (max-width: 987px) {
  .ba-column--delimiter {
    padding-right: 40px;
    padding-left: 40px; } }

@media all and (max-width: 941px) {
  .ba-column--delimiter {
    display: none; } }
